.DS_Store
.ensime
test.scala
target/
.idea/
.gradle/
build.gradle
*.iml
lib_managed/
lib/
out/
target/
build/
project/boot/
project/build/target
project/plugins/lib_managed/
project/plugins/src_managed/
project/plugins/target/
project/plugins/project/
README.pdf
